<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delivery System</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Welcome to BurgerHeaven Online</h1>
    <h3>Select burger</h3>
    <section>
        <p>This is where you execute burger selection</p>
        <table align="center">
            <thead>
                <tr>
                    <th>The Fire Burger</th>
                    <th>Fried Turkey Burger</th>
                    <th>A Double w/ Cheese</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <img src="https://thumbs.dreamstime.com/z/burger-fire-black-background-site-nburger-171834850.jpg"
                            alt="Span" title="Another in-line element" width="250">
                    </td>
                    <td>
                        <img src="https://am23.mediaite.com/tms/cnt/uploads/2011/04/realmeatisbetter.jpg" alt="Span"
                            title="Another in-line element" width="250" height="369">
                    </td>
                    <td>
                        <img src="https://i.pinimg.com/originals/9c/41/bb/9c41bb0cd0c73d2c22789e33b498dd2f.jpg"
                            alt="Span" title="Another in-line element" width="250" height="369">
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Kobe beef of the highest quality</li>
                            <li>Covered in fancy cheese(contains lactose)</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Deep fried turkish turkey</li>
                            <li>A slice of pink stuff(contains gluten)</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Two layers of pure meat</li>
                            <li>Lots of yummy cheese(contains gluten)</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <h3>Customer information</h3>
        <p>This is where you provide necessary information</p>
        <main>
            <section id="contact">
                <h4>Delivery Information:</h4>
                <form>
                    <p>
                        <label for="firstnamelastname">Full Name</label>
                        <br>
                        <input type="text" id="fullname" required="required" placeholder="First- and Last name">
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <br>
                        <input type="text" id="email" required="required" placeholder="Email Address">
                    </p>
                    <p>
                        <label for="steet">Street</label>
                        <br>
                        <input type="text" id="str" required="required" placeholder="Street Name">
                    </p>
                    <p>
                        <label for="house">House</label>
                        <br>
                        <input type="number" id="hs" required="required" placeholder="House Number">
                    </p>
                    <p>
                        <label for="Payment">Payment Options</label><br>
                        <select id="paymentop">
                            <option>Debit Card</option>
                            <option selected="selected">Credit Card</option>
                            <option>Cash</option>
                        </select>
                    </p>
                    <label for="gender">Gender</label><br>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label><br>
                    <input type="radio" id="undisclosed" name="gender" value="undisclosed">
                    <label for="undisclosed">Do not wish to provide</label><br>
                </form>
            </section>
        </main>
    </section>
    <button type="submit"><img src="../img/check.png">Send Info</button>

    <hr>
    <footer>
        &copy; Hypothetical Burgers Inc.
    </footer>
</body>

</html>