<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delivery System</title>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="css/deli-very.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/js_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="../js/vue_script.js" defer></script>
</head>

<body>
    <header class="header">
        <img src="../img/header.png">
        <h1>Welcome to BurgerHeaven Online</h1>
    </header>
    <section class="burger-selection">
        <h3>Select burger</h3>
        <p style="color: white;">This is where you execute burger selection</p>

        <div class="burger-wrapper" id="burgerInfo">
            <div v-for="(burger, index) in burgers" v-bind:class="get_class_name(index)">
                {{burger.name}}
                <input type="checkbox" v-bind:id="`burger`+index" v-bind:name="get_burger_name(index)">

                <img v-bind:src="`${burger.img}`" width="250" height="369">
                <ul>
                    <li v-for="burgerInfo in burger.info">
                        {{burgerInfo}}
                    </li>
                    <li>Number of Calories: {{burger.kCal}}</li>
                    <li v-if="burger.gluten" class="allergy">Contains - gluten</li>
                    <li v-if="burger.lactose" class="allergy">Contains - lactose</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="order">
        <main class="customer-information">
            <h3>Customer information</h3>
            <p>This is where you provide necessary information</p>
            <section id="contact">
                <h4>Delivery Information:</h4>
                <form>
                    <p>
                        <label for="firstnamelastname">Full Name</label>
                        <br>
                        <input type="text" id="fullname" placeholder="First- and Last name">
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <br>
                        <input type="text" id="email" placeholder="Email Address">
                    </p>
                    <p>
                        <label for="Payment">Payment Options</label><br>
                        <select id="paymentop">
                            <option>Debit Card</option>
                            <option selected="selected">Credit Card</option>
                            <option>Cash</option>
                        </select>
                    </p>
                    <label for="gender">Gender</label><br>
                    <input type="radio" name="gender" value="Male">
                    <label for="male">Male</label><br>
                    <input type="radio" name="gender" value="Female">
                    <label for="female">Female</label><br>
                    <input type="radio" name="gender" value="Undisclosed" checked>
                    <label for="undisclosed">Do not wish to provide</label><br>
                </form>

                <h1> Click in the map to add your location </h1>
                <div class="view-box">
                    <div id="dots" v-on:click="displayOrder">
                        <div v-if="(Object.keys(this.orders).length > 0)"
                            v-bind:style="{ left: this.orders.details.x +'px', top: this.orders.details.y + 'px'}">
                            T
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <button type="submit" id="submitButton" v-on:click="addOrder"><img src="../img/check.png">Send
            Info</button>

        <div v-bind:style="Object.keys(allInfo).length === 0 ? {'display': 'none'} : {'display': 'block'}">
            <h1>Order Confirmation</h1>
            <h4>Customer details</h4>
            <span v-for="(info, key) in allInfo.customer">
                {{key}}: {{info}} <br>
            </span>
            <span v-if="allInfo.hasOwnProperty('order')">location: {{allInfo.order.details.x}} /
                {{allInfo.order.details.y}}</span>

            <h4>Order summary</h4>
            <span v-if="allInfo.hasOwnProperty('order')">
                <span v-for="item in allInfo.order.orderItems">{{item}} <br></span>
            </span>
        </div>
    </section>

    <hr>
    <footer>
        &copy; Hypothetical Burgers Inc.
    </footer>
</body>

</html>